* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial , sans-serif;
  background-image: url('background.png') ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: rgb(255, 252, 229);

}

.container {
    /* menos escuro */
  padding: 20px 20px;
  max-width: 900px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-image {
  max-width: 500px;
  width: 80%;
  height: auto;
  margin-bottom: 40px;
}

.logo {
  max-width: 40px;
  width: 80%;
  height: auto;
  margin-bottom: 20px;
  margin-top: 50px;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  width: 70%;
  max-width: 450px;
  padding: 15px;
  font-size: 16PX;
  margin: 10px 0;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  
}

.botao1 {
  background-color: #007bff;
}

.botao1:hover {
  background-color: #0762c4;
}

.botao2 {
  background-color: #28a745;
}

.botao2:hover {
  background-color: #1d7c33;
}


@media (min-width: 600px) {
  button {
    font-size: 22px;
    padding: 18px;
  }
}
